body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae7e7;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10 {
  display: flex;
  align-items: center;
  border: 2px solid orange;
  margin-left: 10px;
  margin-top: 10px;
  width: 600px;
  height: 200px;
  justify-content: space-between;
  background-color: rgb(225, 204, 208);
}

.container-1 .box-1,
.container-1 .box-2,
.container-1 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 168, 35);
}

/* Container-2 */
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10 {
  margin-top: 50px;
  flex-direction: row-reverse;
}

.container-2 .box-1,
.container-2 .box-2,
.container-2 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 35, 35);
}

/* Container-3 */
.container-3 {
  flex-direction: column;
}

.container-3 .box-1,
.container-3 .box-2,
.container-3 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 76, 245);
}

.container-3 .box-2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Container-4 */
.container-4 {
  flex-direction: row;
  justify-content: center;
}

.container-4 .box-1,
.container-4 .box-2,
.container-4 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 46, 46);
}

.container-4 .box-2 {
  margin-left: 10px;
  margin-right: 40px;
}

/* Container-5 */

.container-5 {
  flex-direction: column-reverse;
  justify-content: center;
}

.container-5 .box-1,
.container-5 .box-2,
.container-5 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 195, 195);
}

/* Container-6 */
.container-6 {
  align-items: flex-start;
}

.container-6 .box-1,
.container-6 .box-2,
.container-6 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 65, 165);
}

/* Container-7 */
.container-7 {
  flex-direction: column;
}

.container-7 .box-1,
.container-7 .box-2,
.container-7 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 75, 227);
}

.container-7 .box-2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

/* Container-8 */

.container-8 {
  flex-direction: row;
  justify-content: center;
}

.container-8 .box-2 {
  margin-left: auto;
  margin-right: auto;
}

.container-8 .box-1,
.container-8 .box-2,
.container-8 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 165, 165);
}

/* Container-9 */

.container-9 {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.container-9 .box-1,
.container-9 .box-2,
.container-9 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 149, 33);
}

.container-9 .box-1 {
  margin-top: -100px;
}

.container-9 .box-3 {
  margin-bottom: -100px;
}

/* Container-10 */
.container-10 {
  flex-direction: row;
  justify-content: center;
}

.container-10 .box-1,
.container-10 .box-2,
.container-10 .box-3 {
  display: flex;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 92, 158);
}

.container-10 .box-1 {
  margin-bottom: auto;
}

.container-10 .box-2 {
  margin-left: auto;
  margin-right: auto;
}

.container-10 .box-3 {
  margin-top: auto;
}
